
@mixin dFlex($jc: center, $ai: center){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

.start_screen {
    background-color: #0E100D;
    width: 1000vw;
    height: 100vh;
    max-width: 100%;

    flex-direction: column;

    @include dFlex();

        >img{
            width: 100%;
            height: 100%;
        }
    
}

.start_button_box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    justify-content: center;


    >img {
        width: 10%;
        height: auto;
        border-width: 6px;
        border-color: gold;
        border-style: solid;
        border-radius: 15px;
        padding: 16px 80px;

        &:hover {
            filter: brightness(2.0);
            cursor: pointer;
        }
    }
}